*{
    box-sizing: border-box;
}


h1
{
    width: 100vw;
    margin: 0;
    padding: 50px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    font-family: "Noto Sans","Noto Sans Japanese";
    font-style: bold;
    font-size: clamp(28px, 5vw, 65px);
    border: 3px solid #115F63;
    color: white;
   /*Should be Teal
  
    
    /*
    border-bottom-style: solid;
    border-bottom-width: 0.5em; 
    border-bottom-color: #115F63;
 */   
    background-color: rgba(19,131,137,0.5);
   
}

.skillsEducation h1
{
    background-color: rgba(73,23,116,0.5);
    border: 3px solid rgb(130,57,130);
}

.professionalWorks h1
{
    background-color: rgba(39,64,36,0.5);
    border: 3px solid rgb(82,99,37);
}

.gamesJams h1
{
    background-color: rgba(44,39,39,0.5);
    border: 3px solid rgb(43,6,6);
}

.soloUniversity h1
{
    background-color: rgba(140,154,181,0.5);
    border: 3px solid rgb(0,39,113);
}

.rd2 h1 
{
     background-color: rgba(255,0,221,0.5);
     border: 3px solid rgb(57,21,93);
}

.coinOp h1
{
    background-color: rgba(173,173,173,0.5);
     border: 3px solid rgb(255,25,175);
}

.hauntedHelper h1
{
    background-color: rgba(17,93,80,0.5);
     border: 3px solid rgb(56,234,230);
}

.quantumAxle h1
{
    background-color: rgba(70,0,111,0.5);
     border: 3px solid rgb(134,164,255);
}

.doomedFlux h1
{
    background-color: rgba(173,9,57,0.5);
     border: 3px solid rgb(68,0,2);
}

.static h1
{
    background-color: rgba(31,88,75,0.5);
     border: 3px solid rgb(0,239,255);
}

.aKOM h1
{
     background-color: rgba(212,14,75, 0.5);
     border: 3px solid rgb(23,211,247);
}

.rem h1
{
     background-color: rgba(255,157,2, 0.5);
     border: 3px solid rgb(241,22,72);
}

.fotp h1
{
     background-color: rgba(6,0,0, 0.5);
     border: 3px solid rgb(223,122,0);
}

.robot h1
{
     background-color: rgba(237,28,36, 0.5);
     border: 3px solid rgb(64,221,217);
}

.sakuraCell h1
{
     background-color: rgba(255,170,184, 0.5);
     border: 3px solid rgb(114,46,56);
}

.suzaku h1
{
     background-color: rgba(37,234,250, 0.5);
     border: 3px solid rgb(255,158,46);
}

.pdisorder h1
{
     background-color: rgba(245,20,20, 0.5);
     border: 3px solid rgb(237,233,69);
}

ul.topnav
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    
}

/*This is the list position, i.e. home, games jams etc.*/
ul.topnav li
{
    margin-left: 10px;
    float: left;
    /*Will see about this border*/
    /*Should be a dark purple.rgba(22,15,56,0.5)*/
    /*border: 5px solid rgba(153,153,153,0.5);*/
}

 ul.topnav li.language
{
    margin-right: 10px;
    float: right;
} 

ul.topnav li a:hover:not(.active)
{
     background-color: #111;
}


/*This is the active page i.e. home page will be a set colour when active.*/
ul.topnav a.active
{
      /*Mustard yellow*/
    background-color: rgba(232,201,0,0.75);
}

ul.topnav a.skillsEducation.active 
{
    /*silver*/
    background-color: rgba(125,134,135,0.75);
}

ul.topnav a.professionalWorks.active 
{
    /*Bronze*/
    background-color: rgba(113,77,22,0.75);
}

ul.topnav a.gamesJams.active 
{
    /*Ruby*/
    background-color: rgba(224,30,30,0.75);
}

ul.topnav a.soloUniversity.active
{
    /*Sapphire*/
    background-color: rgba(15,91,238,0.75);
}


ul.topnav a.rd2.active 
{
    /*Cyan*/
    background-color: rgba(23,211,247,0.75);
}

ul.topnav a.coinOp.active 
{
    /*Blue*/
    background-color: rgba(0,109,255,0.75);
}

ul.topnav a.hauntedHelper.active 
{
    /*purple*/
    background-color: rgba(130,83,174,0.75);
}

ul.topnav a.quantumAxle.active 
{
    /*purple*/
    background-color: rgba(65,30,255,0.75);
}

ul.topnav a.doomedFlux.active 
{
    /*teal/green*/
    background-color: rgba(112,199,187,0.75);
}

ul.topnav a.static.active 
{
    /*teal/green*/
    background-color: rgba(126,81,96,0.75);
}

ul.topnav a.rem.active 
{
    /*teal/green*/
    background-color: rgba(147,79,233,0.75);
}

ul.topnav a.fotp.active 
{
    /*teal/green*/
    background-color: rgba(242,22,39,0.75);
}

ul.topnav a.robot.active 
{
    /*teal/green*/
    background-color: rgba(41,124,108,0.75);
}

ul.topnav a.sakuraCell.active 
{
    /*Peach*/
    background-color: rgba(238,198,152,0.75);
}

ul.topnav a.suzaku.active 
{
    /*Brown*/
    background-color: rgba(96,65,35,0.75);
}

ul.topnav a.pdisorder.active 
{
    /*Jade*/
    background-color: rgba(27,221,169,0.75);
}
/*ul.topnav a.aKOM.active 
{
    /*Cyan
    background-color: rgba(23,211,247,0.75);
}


/*This is the list's links themselves their shape and colour i.e. Games jam, home etc.*/
/*ul.topnav*/ li a, .dropbtn
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /*background-color: rgba(72,72,72,1);*/
}

/*This is the default list when you hover over it, it will change the BG colour i.e. gamesjams*/

li a:hover, .dropdown:hover .dropbtn
{
    background-color: rgba(22,15,56,0.5);
}
/*I toggled this out before shall see what happens.*/
/*li.dropdown
{
    /*Was inline-block
    display: inline-block;
}*/


/*Dropdown boxes*/
.dropdown-content
{
    display: none;
    /*was absolute*/
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: hidden; /*was hidden but it stops the sticky from working allegedly*/
}
/*Link colours for dropdown.*/
.dropdown-content a
{
    /*list-style-type: none;*/
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    /*was block*/
    display: grid;
    text-align: center;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content
{display: block;
 }
@media screen and (max-width: 700px)
{
     ul.topnav li {float: none;}
}

/*This is for mobile devices and will alter the shape of our nav to suit the device.*/
@media screen and (max-width: 500px)
{
     ul.topnav li {float: none;}
}

/*Aside section used for quick navigation in a web page.
.aside
{
  position: sticky;
  flex: 1;
  top: 10px;
  right: 10px;
  float: right;
  display: grid; /*was grid
  gap: 10px;
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-left: auto;
  box-sizing: border-box;
}

/*Attempting some class interaction with AKOM*/



.mechanics ol li
{
    display: list-item;
    list-style: none;
    list-style-position: outside;
    text-align: center; 
    margin: 0;
    padding: 5px;
    justify-content: center;
}


#newSkills ul li
{

    display: list-item;
    list-style: none;
    list-style-position: outside;
    text-align: center; 
    margin: 0;
    padding: 5px;
    justify-content: center;
}




body
{
min-height: 100vh;
display: flex;
flex: 3;
flex-direction: column;
    /*Justify content was felx-start*/
justify-content: center;
align-items: center;
margin: 0;
padding: 0 5%;
font-family: "Noto Sans","Noto Sans Japanese";
font-size: calc(10px + 0.5vw);
text-align: center;
color: white;   
    /*Should be code Navy blue,  old was Charcoal 72,72,72/grey*/
background-color: rgba(13,17,22,100);
/*Z-index: -1;*/  
 /*max-width: 90%;*/
 white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;

}


 @media screen and (max-width: 768px)
     {
         body{
        padding: 0 12%; 
       /* font-size: 15px;*/
         }
    }

 @media screen and (max-width: 500px)
    {
        body{
         padding: 0 14%; 
         /*margin: 0 8%;*/
           
        /*font-size: 12px;*/
        }
    }



h2
{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Noto Sans","Noto Sans Japanese";
    font-style: bold;
    font-size: (24px, 4vw, 55px);
    color: white;
  
}

h3
{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Noto Sans","Noto Sans Japanese";
    font-style: bold;
    font-size: (20px,3vw,45px);
    color: white;
    
}

h4
{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Noto Sans","Noto Sans Japanese";
    font-style: bold;
    font-size: (18px,2vw,35px);
    color: white;
}

  #coinopcapitalTitle h4
    {
         -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: rgb(255,25,175);
         text-shadow: 4px 4px 4px rgba(255,25,175,0.75);
    }
#hauntedHelperTitle h4
 {
         -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: rgb(56,234,230);
         text-shadow: 4px 4px 4px rgba(56,234,230,0.75);
}

#quantumAxleTitle h4
 {
         -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: rgb(65,30,255);
         text-shadow: 4px 4px 4px rgba(65,30,255,0.75);
}

#doomedFluxTitle h4
 {
         -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: rgb(173,9,57);
         text-shadow: 4px 4px 4px rgba(173,9,57,0.75);
}

#staticTitle h4
 {
         -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: rgb(24,245,255);
         text-shadow: 4px 4px 4px rgba(24,245,255,0.75);
}

#aKOMTitle h4
 {
         -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: rgb(237,34,100);
         text-shadow: 4px 4px 4px rgba(237,34,100,0.75);
}

#remTitle h4
 {
         -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: rgb(147,79,233);
         text-shadow: 4px 4px 4px rgba(147,79,233,0.75);
}

#fotpTitle h4
 {
         -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: rgb(222,121,0);
         text-shadow: 4px 4px 4px rgba(222,121,0,0.75);
}

#rd2Title h4
 {
         -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: rgb(255,0,221);
         text-shadow: 4px 4px 4px rgba(255,0,221,0.75);
}

#pdisorderTitle h4
 {
         -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: rgb(0,255,193);
         text-shadow: 4px 4px 4px rgba(0,255,193,0.75);
}

#suzakuTitle h4
 {
         -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: rgb(255,141,0);
         text-shadow: 4px 4px 4px rgba(255,141,0,0.75);
}

#sakuraCellTitle h4
 {
         -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: rgb(255,105,150);
         text-shadow: 4px 4px 4px rgba(255,105,150,0.75);
}
#robotTitle h4
 {
         -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: rgb(0,180,145);
         text-shadow: 4px 4px 4px rgba(0,180,145,0.75);
}



div.projectMargin
{
    margin-bottom: 100px;
}

h5
{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Noto Sans","Noto Sans Japanese";
    font-style: bold;
    font-size: (16px,1vw,25px);
    color: white;
    
}

/*Gallery May need to adjust this for AKOM and other games colour palettes*/

/*AKOM Pink colour for border images. Will need to change this per game. USE CSS Variables for this*/
div.gif, div.video, div.gallery {
    display: inline-block;
    max-width: 100%;
    width:100%;
    width: fit-content;
    margin: auto;
    
    border-radius: 0px 15px 15px 15px;  border: 6px solid rgba(212,14,75, 0.5);}

 div.gif:hover  ,div.video:hover, div.gallery:hover{border-radius: 0px 15px 15px 15px; border: 6px solid #E8C900; box-shadow: 2px 2px 2px 2px rgba(255,253,154,0.5);}

/*RD2*/
div.rd2.gallery, div.rd2.gif, div.rd2.video
{
    border: 6px solid rgba(255,0,221,0.5);
}

div.rd2.gif:hover  ,div.rd2.video:hover, div.rd2.gallery:hover{border-radius: 0px 15px 15px 15px; border: 6px solid  rgba(23,211,247,1); box-shadow: 2px 2px 2px 2px  rgba(23,211,247,0.5);}

div.coinOp.gallery, div.coinOp.gif, div.coinOp.video

{
    border: 6px solid rgba(173,173,173,0.5);
}

div.coinOp.gif:hover  ,div.coinOp.video:hover, div.coinOp.gallery:hover{border-radius: 0px 15px 15px 15px; border: 6px solid  rgb(255,25,175); box-shadow: 2px 2px 2px 2px  rgba(255,25,175,0.5);}

div.hauntedHelper.gallery, div.hauntedHelper.gif, div.hauntedHelper.video

{
    border: 6px solid rgba(17,93,80,0.5);
}

div.hauntedHelper.gif:hover  ,div.hauntedHelper.video:hover, div.hauntedHelper.gallery:hover{border-radius: 0px 15px 15px 15px; border: 6px solid  rgb(56,234,230); box-shadow: 2px 2px 2px 2px  rgba(56,234,230,0.5);}


div.quantumAxle.gallery, div.quantumAxle.gif, div.quantumAxle.video

{
       border: 6px solid rgba(70,0,111,0.5);
}

div.quantumAxle.gif:hover  ,div.quantumAxle.video:hover, div.quantumAxle.gallery:hover{border-radius: 0px 15px 15px 15px; border: 6px solid  rgb(134,164,255); box-shadow: 2px 2px 2px 2px  rgba(134,164,255,0.5);}

div.doomedFlux.gallery, div.doomedFlux.gif, div.doomedFlux.video

{
    border: 6px solid rgba(173,9,57,0.5);
}

div.doomedFlux.gif:hover  ,div.doomedFlux.video:hover, div.doomedFlux.gallery:hover{border-radius: 0px 15px 15px 15px; border: 6px solid  rgb(68,0,2); box-shadow: 2px 2px 2px 2px  rgba(68,0,2,0.5);}

div.static.gallery, div.static.gif, div.static.video

{
       border: 6px solid rgba(31,88,75,0.5);
}

div.static.gif:hover  ,div.static.video:hover, div.static.gallery:hover{border-radius: 0px 15px 15px 15px; border: 6px solid  rgb(0,239,255); box-shadow: 2px 2px 2px 2px  rgba(0,239,255,0.5);}

div.rem.gallery, div.rem.gif, div.rem.video

{
    
    border: 6px solid rgba(255,157,2, 0.5);
}

div.rem.gif:hover  ,div.rem.video:hover, div.rem.gallery:hover{border-radius: 0px 15px 15px 15px; border: 6px solid  rgb(241,22,72); box-shadow: 2px 2px 2px 2px  rgba(241,22,72,0.5);}

div.fotp.gallery, div.fotp.gif, div.fotp.video

{
       border: 6px solid rgba(6,0,0, 0.5);
}

div.fotp.gif:hover  ,div.fotp.video:hover, div.fotp.gallery:hover{border-radius: 0px 15px 15px 15px; border: 6px solid  rgb(223,122,0); box-shadow: 2px 2px 2px 2px  rgba(223,122,0,0.5);}

div.robot.gallery, div.robot.gif, div.robot.video

{
    
    border: 6px solid  rgba(237,28,36, 0.5);

}

div.robot.gif:hover  ,div.robot.video:hover, div.robot.gallery:hover{border-radius: 0px 15px 15px 15px; border: 6px solid  rgb(64,221,217); box-shadow: 2px 2px 2px 2px  rgba(64,221,217,0.5);}

div.sakuraCell.gallery, div.sakuraCell.gif, div.sakuraCell.video

{
       border: 6px solid rgba(255,170,184, 0.5);
}

div.sakuraCell.gif:hover  ,div.sakuraCell.video:hover, div.sakuraCell.gallery:hover{border-radius: 0px 15px 15px 15px; border: 6px solid  rgb(114,46,56); box-shadow: 2px 2px 2px 2px  rgba(114,46,56,0.5);}


div.suzaku.gallery, div.suzaku.gif, div.suzaku.video

{
       border: 6px solid rgba(37,234,250, 0.5);

   
     
}

div.suzaku.gif:hover  ,div.suzaku.video:hover, div.suzaku.gallery:hover{border-radius: 0px 15px 15px 15px; border: 6px solid  rgb(255,158,46); box-shadow: 2px 2px 2px 2px  rgba(255,158,46);}

div.pdisorder.gallery, div.pdisorder.gif, div.pdisorder.video

{
       border: 6px solid rgba(245,20,20, 0.5);

}

div.pdisorder.gif:hover  ,div.pdisorder.video:hover, div.pdisorder.gallery:hover{border-radius: 0px 15px 15px 15px; border: 6px solid  rgb(237,233,69); box-shadow: 2px 2px 2px 2px  rgba(237,233,69,0.5);}


div.gif
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: fit-content;
    max-width: 100%;
    box-sizing: border-box;
}

div.gif img
{
    display: block;
    width: 100%;
    height: auto;
}

div.gif video
{
    display: block;
    width: 100%;
    height: auto;
}



div.video
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

div.video iframe
{
    display: block;
    width: 560px;
    height: 315px;
    max-width: 100%;
    max-height: 100%;
}

div.gallery img,div.gif, div.video
{
 display:block;
 width: 100%;
 height: auto;
}

/*Originally just width and height*/

/*{
    display: block;
    max-width: 100%;
    width:100%;
    height:auto;
    margin:0;
}*/

div.desc
{
  padding: 15px;
  text-align: center;  
  display:block
}

.responsive
{
    display: inline-block;
    padding: 6px 6px;
    width: 24.99999%;
    text-align: center;
    vertical-align: top;
}

/*
 .responsive
{
    padding: 6px 6px;
    float: none;
    width: 24.99999%;
}
*/
@media only screen and (max-width: 700px)
{.responsive
 {
    width: 49.99999%;
    margin: 6px 0;
 }
}
@media only screen and (max-width: 500px)
{.responsive
 {
    width: 100%;
 }
}

ul li
{
    list-style-type: none;
}

ol li
{
     list-style: none;
}

/*
#responsibilities ul ol li
{
    
}

#portfolios ul ol li
{
    /*padding-bottom: 50px;
    list-style-type: none;
}
*/
.clearfix:after
{
    content:"";
    display: table;
    clear: both;
}

footer {

        margin-top: auto;
        width:100vw;
        font-family: "Noto Sans","Noto Sans Japanese";
        font-style: bold;
        font-size: 20px;
        text-align: center;
        background-color: rgba(19,131,137,0.5);
        border: 3px solid #115F63; 
        border-bottom: none;
        border-radius: 12px 12px 0px 0px;
        padding: 50px;     
        bottom: 0;
}

footer.skillsEducation 
{
   background-color: rgba(73,23,116,0.5);
    border: 3px solid rgb(130,57,130);
    border-bottom: none;
}

footer.professionalWorks 
{
    background-color: rgba(39,64,36,0.5);
    border: 3px solid rgb(82,99,37);
    border-bottom: none;
}

footer.gamesJams
{
    background-color: rgba(44,39,39,0.5);
    border: 3px solid rgb(43,6,6);
}

footer.soloUniversity 
{
    background-color: rgba(140,154,181,0.5);
    border: 3px solid rgb(0,39,113);
}

footer.rd2 
{
     background-color: rgba(255,0,221,0.5);
     border: 3px solid rgb(57,21,93);
     border-bottom: none;
}

footer.coinOp 
{
    background-color: rgba(173,173,173,0.5);
     border: 3px solid rgb(255,25,175);
     border-bottom: none;
}

footer.hauntedHelper 
{
    background-color: rgba(17,93,80,0.5);
    border: 3px solid rgb(56,234,230);
    border-bottom: none;
}

footer.quantumAxle 
{
    background-color: rgba(70,0,111,0.5);
     border: 3px solid rgb(134,164,255);
    border-bottom: none;
}

footer.doomedFlux
{
    background-color: rgba(173,9,57,0.5);
     border: 3px solid rgb(68,0,2);
    border-bottom: none;
}

footer.static
{
    background-color: rgba(31,88,75,0.5);
     border: 3px solid rgb(0,239,255);
}

footer.aKOM
{
     background-color: rgba(212,14,75, 0.5);
     border: 3px solid rgba(23,211,247,1);
     border-bottom: none;
}

footer.rem 
{
     background-color: rgba(241,172,55, 0.5);
     border: 3px solid rgb(241,22,72);
     border-bottom: none;
}

footer.fotp 
{
     background-color: rgba(6,0,0, 0.5);
     border: 3px solid rgb(223,122,0);
    border-bottom: none;
}

footer.robot
{
     background-color: rgba(237,28,36, 0.5);
     border: 3px solid rgb(64,221,217);
}

footer.sakuraCell 
{
     background-color: rgba(255,170,184, 0.5);
     border: 3px solid rgb(114,46,56);
}

footer.suzaku 
{
     background-color: rgba(37,234,250, 0.5);
     border: 3px solid rgb(255,158,46);
}

footer.pdisorder
{
     background-color: rgba(245,20,20, 0.5);
     border: 3px solid rgb(237,233,69);
}
/*RD2 page changes.*/




/*
/*Link styles
a:link
{
    font-family: "Noto Sans","Noto Sans Japanese";
    font-style: bold;
    font-size: 18px;
    text-align: center;
    /*Mustard yellow
    color: #E8C900;
    text-decoration: none;
}

a:visited
{
    font-family: "Noto Sans","Noto Sans Japanese";
    font-size: 18px;
    font-style: bold;
    text-align: center;
    /*Brick red
    color: #CC4C4C;
     text-decoration: none;
}

a:hover
{
    font-family: "Noto Sans","Noto Sans Japanese";
    font-size: 18px;
    font-style: bold;
    text-align: center;
    /*Purple
    color: #6C2AA6;    
     text-decoration: none;
}

a:active
{
    font-family: "Noto Sans","Noto Sans Japanese";
    font-size: 18px;
    font-style: bold;
    text-align: center;
    /*Neon Pink
    color: #DB03CA;    
    text-decoration: none;
}

/*This is for the Overal header

header nav 
{
    /*Should draw boxes around links and have a dark teal colour.
        /*This is the Jade colour for the nav bar
        background-color: rgba(19,131,137,0.5);
        display: block;
        border: 3px solid #115F63; 
        border-top: none;
        border-radius: 0px 0px 12px 12px;
        padding: 10px;
        margin: 0;
    
}

/* This is for the links specifically. 

header nav a
{
    /*Should draw boxes around links and have a dark teal colour.
       
        background-color:rgba(13,17,22,100);
        float:left;
        text-align: center;
        border: 3px double #115F63; 
        border-radius: 5px 12px 12px 12px;
        padding: 5px;
        margin: 20px;
   
} 

header nav ul ul
{
    display: none;
    position:absolute;
    list-style-type:none;
    
}
/*This does affect the dropdown list as well.
header nav li:hover ul
{
    
    display: inline-block;
    /*left:0;
    list-style-type:none;
}

ul
{
    padding: 0;
    margin: 0;
    /*background: rgba(19,131,137,0.5);
}

li
{
    display: block;
    /*Originally relative.
    position: relative;
    
}

ul ul 
{
    position: absolute;
    /*white-space: wrap;
    display: none;
    text-align: center;
    /*left: 0;
    top: 100%;
    z-index: 1;
}

/* This should be the hover list for our Navigation.
li:hover ul
{
    
    display: grid;
    list-style-type: none;
    text-align: center; 
    /*
    padding-left: 2px;
    left: 0;
    border: 3px solid #115F63; 
    border-radius: 5px;
    background: rgba(19,131,137,1);
    z-index: 1;
}
body
{
min-height: 100vh;
display: flex;
flex-direction: column;
    /*Justify content was felx-start*
justify-content: center;
align-items: center;
margin: 0;
padding: 0;
font-family: "Noto Sans","Noto Sans Japanese";
font-size: 20px;
text-align: center;
color: white;   
    /*Should be code Navy blue,  old was Charcoal 72,72,72/grey*
background-color: rgba(13,17,22,100);
/*Z-index: -1;  
}





h1
{
    /*width: 100%;*
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Noto Sans","Noto Sans Japanese";
    font-style: bold;
    font-size: 30px;
    border: 3px solid #115F63;
    color: white;
   /*Should be Teal*
    margin: 0;
    padding: 50px;
    /*
    border-bottom-style: solid;
    border-bottom-width: 0.5em; 
    border-bottom-color: #115F63;
    *
    background-color: rgba(19,131,137,0.5);
}

h2
{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Noto Sans","Noto Sans Japanese";
    font-style: bold;
    font-size: 28px;
    color: white;
  
}

h3
{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Noto Sans","Noto Sans Japanese";
    font-style: bold;
    font-size: 26px;
    color: white;
    
}

h4
{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Noto Sans","Noto Sans Japanese";
    font-style: bold;
    font-size: 24px;
    color: white;
    
}

h5
{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Noto Sans","Noto Sans Japanese";
    font-style: bold;
    font-size: 22px;
    color: white;
    
}
*/
/*This is the Navigation list to begin with.*/
