*{
    box-sizing: border-box;
}


h1
{
    width: 100vw;
    margin: 0;
    padding: 50px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    font-family: "Noto Sans","Noto Sans Japanese";
    font-style: bold;
    font-size: 65px;
    border: 3px solid #115F63;
    color: white;
   /*Should be Teal
  
    
    /*
    border-bottom-style: solid;
    border-bottom-width: 0.5em; 
    border-bottom-color: #115F63;
 */   
    background-color: rgba(19,131,137,0.5);
}

ul.topnav
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    
}

/*This is the list position, i.e. home, games jams etc.*/
ul.topnav li
{
    float: left;
    /*Will see about this border*/
    /*Should be a dark purple.*/
    border: 5px solid rgba(22,15,56,0.5);
}

ul.topnav li a:hover:not(.active)
{
     background-color: #111;
}


/*This is the active page i.e. home page will be a set colour when active.*/
ul.topnav a.active
{
      /*Mustard yellow*/
    background-color: #E8C900;
}

/*This is the list's links themselves their shape and colour i.e. Games jam, home etc.*/
/*ul.topnav*/ li a, .dropbtn
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /*background-color: rgba(72,72,72,1);*/
}

/*This is the default list when you hover over it, it will change the BG colour i.e. gamesjams*/

li a:hover, .dropdown:hover .dropbtn
{
    background-color: rgba(22,15,56,0.5);
}
/*I toggled this out before shall see what happens.*/
/*li.dropdown
{
    /*Was inline-block
    display: inline-block;
}*/


/*Dropdown boxes*/
.dropdown-content
{
    display: none;
    /*was absolute*/
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: hidden; /*was hidden but it stops the sticky from working allegedly*/
}
/*Link colours for dropdown.*/
.dropdown-content a
{
    /*list-style-type: none;*/
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    /*was block*/
    display: grid;
    text-align: center;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content
{display: block;
 }
@media screen and (max-width: 700px)
{
     ul.topnav li {float: none;}
}

/*This is for mobile devices and will alter the shape of our nav to suit the device.*/
@media screen and (max-width: 500px)
{
     ul.topnav li {float: none;}
}

/*Aside section used for quick navigation in a web page.*/
.aside
{
  position: sticky;
  flex: 1;
  top: 10px;
  right: 10px;
  float: right;
  display: grid; /*was grid*/  
  gap: 10px;
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-left: auto;
  box-sizing: border-box;
}

/*Attempting some class interaction with AKOM*/

.mechanics ol li
{
    display: list-item;
    list-style: none;
    list-style-position: outside;
    text-align: center; 
    margin: 0;
    padding: 5px;
    justify-content: center;
}


#newSkills ul li
{

    display: list-item;
    list-style: none;
    list-style-position: outside;
    text-align: center; 
    margin: 0;
    padding: 5px;
    justify-content: center;
}




body
{
min-height: 100vh;
display: flex;
flex: 3;
flex-direction: column;
    /*Justify content was felx-start*/
justify-content: center;
align-items: center;
margin: 0;
padding: 0;
font-family: "Noto Sans","Noto Sans Japanese";
font-size: 20px;
text-align: center;
color: white;   
    /*Should be code Navy blue,  old was Charcoal 72,72,72/grey*/
background-color: rgba(13,17,22,100);
/*Z-index: -1;*/  
}





h2
{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Noto Sans","Noto Sans Japanese";
    font-style: bold;
    font-size: 55px;
    color: white;
  
}

h3
{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Noto Sans","Noto Sans Japanese";
    font-style: bold;
    font-size: 45px;
    color: white;
    
}

h4
{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Noto Sans","Noto Sans Japanese";
    font-style: bold;
    font-size: 35px;
    color: white;
    
}

h5
{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Noto Sans","Noto Sans Japanese";
    font-style: bold;
    font-size: 25px;
    color: white;
    
}

/*Gallery May need to adjust this for AKOM and other games colour palettes*/

/*AKOM Pink colour for border images. Will need to change this per game. USE CSS Variables for this*/
div.gif, div.video, div.gallery {
    display: inline-block;
    max-width: 100%;
    width:100%;
    width: fit-content;
    margin: auto;
    
    border-radius: 0px 15px 15px 15px;  border: 6px solid rgba(212,14,75, 0.5);}

 div.gif:hover  ,div.video:hover, div.gallery:hover{border-radius: 0px 15px 15px 15px; border: 6px solid #E8C900; box-shadow: 2px 2px 2px 2px rgba(255,253,154,0.5);}

div.gif
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: fit-content;
    max-width: 100%;
    box-sizing: border-box;
}

div.gif img
{
    display: block;
    width: 100%;
    height: auto;
}

div.video
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

div.video iframe
{
    display: block;
    width: 560px;
    height: 315px;
    max-width: 100%;
    max-height: 100%;
}

div.gallery img,div.gif, div.video
{
 display:block;
 width: 100%;
 height: auto;
}

/*Originally just width and height*/

/*{
    display: block;
    max-width: 100%;
    width:100%;
    height:auto;
    margin:0;
}*/

div.desc
{
  padding: 15px;
  text-align: center;  
  display:block
}

.responsive
{
    display: inline-block;
    padding: 6px 6px;
    width: 24.99999%;
    text-align: center;
    vertical-align: top;
}

/*
 .responsive
{
    padding: 6px 6px;
    float: none;
    width: 24.99999%;
}
*/
@media only screen and (max-width: 700px)
{.responsive
 {
    width: 49.99999%;
    margin: 6px 0;
 }
}
@media only screen and (max-width: 500px)
{.responsive
 {
    width: 100%;
 }
}

#responsibilities li
{
    list-style-type: none;
}

#portfolios li
{
    padding-bottom: 50px;
    list-style-type: none;
}

.clearfix:after
{
    content:"";
    display: table;
    clear: both;
}

footer {

        margin-top: auto;
        width:100%;
        font-family: "Noto Sans","Noto Sans Japanese";
        font-style: bold;
        font-size: 20px;
        text-align: center;
        background-color: rgba(19,131,137,0.5);
        border: 3px solid #115F63; 
        border-bottom: none;
        border-radius: 12px 12px 0px 0px;
        padding: 50px;     
        bottom: 0;
}


/*
/*Link styles
a:link
{
    font-family: "Noto Sans","Noto Sans Japanese";
    font-style: bold;
    font-size: 18px;
    text-align: center;
    /*Mustard yellow
    color: #E8C900;
    text-decoration: none;
}

a:visited
{
    font-family: "Noto Sans","Noto Sans Japanese";
    font-size: 18px;
    font-style: bold;
    text-align: center;
    /*Brick red
    color: #CC4C4C;
     text-decoration: none;
}

a:hover
{
    font-family: "Noto Sans","Noto Sans Japanese";
    font-size: 18px;
    font-style: bold;
    text-align: center;
    /*Purple
    color: #6C2AA6;    
     text-decoration: none;
}

a:active
{
    font-family: "Noto Sans","Noto Sans Japanese";
    font-size: 18px;
    font-style: bold;
    text-align: center;
    /*Neon Pink
    color: #DB03CA;    
    text-decoration: none;
}

/*This is for the Overal header

header nav 
{
    /*Should draw boxes around links and have a dark teal colour.
        /*This is the Jade colour for the nav bar
        background-color: rgba(19,131,137,0.5);
        display: block;
        border: 3px solid #115F63; 
        border-top: none;
        border-radius: 0px 0px 12px 12px;
        padding: 10px;
        margin: 0;
    
}

/* This is for the links specifically. 

header nav a
{
    /*Should draw boxes around links and have a dark teal colour.
       
        background-color:rgba(13,17,22,100);
        float:left;
        text-align: center;
        border: 3px double #115F63; 
        border-radius: 5px 12px 12px 12px;
        padding: 5px;
        margin: 20px;
   
} 

header nav ul ul
{
    display: none;
    position:absolute;
    list-style-type:none;
    
}
/*This does affect the dropdown list as well.
header nav li:hover ul
{
    
    display: inline-block;
    /*left:0;
    list-style-type:none;
}

ul
{
    padding: 0;
    margin: 0;
    /*background: rgba(19,131,137,0.5);
}

li
{
    display: block;
    /*Originally relative.
    position: relative;
    
}

ul ul 
{
    position: absolute;
    /*white-space: wrap;
    display: none;
    text-align: center;
    /*left: 0;
    top: 100%;
    z-index: 1;
}

/* This should be the hover list for our Navigation.
li:hover ul
{
    
    display: grid;
    list-style-type: none;
    text-align: center; 
    /*
    padding-left: 2px;
    left: 0;
    border: 3px solid #115F63; 
    border-radius: 5px;
    background: rgba(19,131,137,1);
    z-index: 1;
}
body
{
min-height: 100vh;
display: flex;
flex-direction: column;
    /*Justify content was felx-start*
justify-content: center;
align-items: center;
margin: 0;
padding: 0;
font-family: "Noto Sans","Noto Sans Japanese";
font-size: 20px;
text-align: center;
color: white;   
    /*Should be code Navy blue,  old was Charcoal 72,72,72/grey*
background-color: rgba(13,17,22,100);
/*Z-index: -1;  
}





h1
{
    /*width: 100%;*
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Noto Sans","Noto Sans Japanese";
    font-style: bold;
    font-size: 30px;
    border: 3px solid #115F63;
    color: white;
   /*Should be Teal*
    margin: 0;
    padding: 50px;
    /*
    border-bottom-style: solid;
    border-bottom-width: 0.5em; 
    border-bottom-color: #115F63;
    *
    background-color: rgba(19,131,137,0.5);
}

h2
{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Noto Sans","Noto Sans Japanese";
    font-style: bold;
    font-size: 28px;
    color: white;
  
}

h3
{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Noto Sans","Noto Sans Japanese";
    font-style: bold;
    font-size: 26px;
    color: white;
    
}

h4
{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Noto Sans","Noto Sans Japanese";
    font-style: bold;
    font-size: 24px;
    color: white;
    
}

h5
{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Noto Sans","Noto Sans Japanese";
    font-style: bold;
    font-size: 22px;
    color: white;
    
}
*/
/*This is the Navigation list to begin with.*/
