body {
    font-family: Arial, sans-serif;
    color: red;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}
/*These are table style values*/
table
{
 width: 100%;
margin: 0 auto; 
 border-collapse: collapse;
}

/*These are table style values*/
th,td
{
     border: 1px solid black;
    padding: 8px;
    text-align: center; 
    vertical-align: middle; 
}
/*These are list style values*/
ul, ol
{
 list-style-position: inside;   
}


nav a {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
}

section {
    padding: 2em;
    text-align: center;
    color: #00A86B;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
